.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: linear-gradient(79deg,#7439db,#c66fbc,#f7944d);
}
.auth-form-container,.login-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.auth-form-container{
  padding: 2rem;
  border: 1px solid white;
  border-radius: 10px;
}
label{
  text-align: left;
  padding: 0.25rem 0;
}
input{
  margin: 0.5rem 0;
  min-width: 380px;
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: 18px;
}

.tableM{display: flex;
  flex-direction: row;
  background-color: lightblue;
  }
  
  .tableP{background-color:orange;}
  .tableC{background-color:lightgreen;}
  .rowFn{
    font-size: xx-large;
  font-weight:bold;
  font-family: Arial, Helvetica, sans-serif;
  color:black;
  }
  
  .tblH{font-size: 1.5cm;
  font-weight: bolder;
  text-align: center;
  padding-left: 30%;
  color: white;
  }
  
  .list-group {
    display:grid;
    grid-template: min-content;
    grid-template-columns: repeat(4, 0fr);
    grid-gap: 1em;
    padding-left: 2%;
    padding-top: 2%;
  }
  
  .list-group-item-L {
    background:#FFCD05;
    padding: 0%;
    text-align:center;
    font-weight: bolder;
    font-size: 310%;
    color:white;
    list-style-type: none;
    border-radius: 20%;
  }

  .list-group-item-R {
    background:black;
    padding: 0%;
    text-align:center;
    font-weight: bolder;
    font-size: 310%;
    color:white;
    list-style-type: none;
    border-radius: 20%;
  }
  
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color:black;
  }
  
  .right {
    right: 0;
    background-color:#FFCD05;
  }
  
  .imgBox{
    height: 80%;
    width: 70%;
    padding-top: 10%;
    margin-left: 15%;
  }
  
  .loginForm{
    height: 100%;
    width: 100%;
    max-width: 400%;
    padding-left: 0px;
    padding-right: 20px;
    padding-top: 0%;
    padding-bottom: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
  }
  
  .inputField{
  padding-top: 0px;
  }
  
  .input{
    box-sizing: border-box;
    outline: none;
    border: solid 1px white;
    border-radius: 4px;
    color: #292929;
    width: 100%;
    padding-top: 38px;
    font-size: 26px;
    background: rgba(255,255,255,1);
  }
  
  .container{
    font-size: 48px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #a1a4ac;
    width: 50%;
    height: 100%;
    padding-bottom: 0px;
  }
  
  .submitButton {
    padding-top: 10px;
  }
  button{
    width: 76%;
    min-width: 380px;
    padding: 20px;
    font-size: 14px;
    border: none;
    border-radius: 10px;
    background-color: #34f4f1;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .LogoContainer{
  background-color: #0bb0ce;
  }
  
  .logoimgBox{
    width: 80%;
    padding-top: 0%;
    align-items: center;
  }
  .lblHeader
  {
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 0px;
  margin-top: 0px;
  }
  .txtBox{
    border: solid 1px white;
    border-radius: 4px;
    font-size: 41px;
    width: 100%;
    background: rgba(255,255,255,1);
    padding-top: 0%;
  }